@import "vars";

.action-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 39px;
	width: 100%;
	font-size: $font_size_action-bar;
	border-top: $border;
}

.action-bar__item {
	padding: 0px 10px 0px 10px;
}

.task-filter__input {
	opacity: $checkbox_invisible;
	width: $checkbox_invisible;
}

.task-filter__name {
    padding: 3px;
    border: 1px transparent solid;
}

.task-filter__input:checked + .task-filter__name {
	border: $border;
	color: grey;
	border-radius: 3px;
	padding: 3px;
}

.task-filter__name:hover {
	background-color: white;
}

.task-completed {
	border: 0;
	color: grey;
	background-color: white;
	font-size: $font_size_action-bar;
}