@import "vars";

html, body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: $font_family_text;
	font-weight: 100;
	color: grey;
	margin: 0;
	padding: 0;
	background-color: $color_background;
}

.todos__header {
	font-size: 90px;
	color: #color_grey;
}

.todos {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 550px;
	box-shadow: 0px 0px 2px #color_grey;
	align-items: center;
	background-color: white;
}

.todos::before {
	content: "";
	position: absolute;
	top: 100%;
	background-color: white;
	box-shadow: $box_shadow_before-after;
	left: 2px;
	right: 2px;
	height: 5px;
	z-index: -1;
}

.todos::after {
	content: "";
	position: absolute;
	top: 100%;
	background-color: white;
	box-shadow: $box_shadow_before-after;
	left: 4px;
	right: 4px;
	height: 10px;
	z-index: -2;
}