/* colors */
$color_background: #f2f2f2;
$color_grey: #deddd7;
$color_checkbox_checked: #cccc;

/* font */
$font_family_text: "Roboto", sans-serif;
$font_size_action-bar: 13px;

/* for checkbox */
$invisible: 0;
$visible: 1;
$invisible_range: -9999px;

/* shadow */
$box_shadow_before-after: 0 2px 4px rgba(0, 0, 0, 0.2);

/* border */
$border: 1px #deddd7 solid;
