body {
	display: flex;
	flex-flow: column;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: grey;
}

.todos__header {
	font-size: 90px;
	color: #deddd7;
}

.todos {
	position: relative;
	display: flex;
    flex-direction: column;
    width: 550px;
    box-shadow: 0px 0px 4px #deddd7;
    align-items: center;
}

.todos::before {
	content: "";
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    left: 1px;
    right: 1px;
    height: 4px;
    z-index: -1;
}

.todos::after {
    content: "";
    position: absolute;
    top: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    left: 3px;
    right: 3px;
    height: 8px;
    z-index: -2;
}

.main {
	display: flex;
	height: 65px;
	width: 100%;
	flex-direction: row;
	border-bottom: 1px #deddd7 solid;
}

.main__select-all-button {
	background: url(images/arrow.svg) no-repeat;
	border: none;
	width: 55px;
	height: 64px;
	background-position: center;
}

.main__select-all-button:hover {
	background-color: white;
}

.main__new-task {
	width: 100%;
}

.main__new-task-input {
	width: 100%;
	height: 62px;
	font-size: 25px;
	border: 0;
}


.todos__tasks {
	width: 100%;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	min-height: 300px;
}

.list__item {
	display: flex;
	align-items: center;
	min-height: 55px;
	border-bottom: 1px #deddd7 solid;
}

.list__item__view {
	display: flex;
	align-items: center;
}

.list__item__view-name {
	width: 490px;
	font-size: 23px;
	word-wrap: break-word;
}

.list__item:hover .list__item__delete,
.list__item__delete:focus {
	opacity: 1;
}

.list__item__view-status-icon {
}

.list__item__delete {
	border: none;
	background: url(images/rectangle.svg) no-repeat;
	width: 20px;
	height: 20px;
	margin: 10px;
	opacity: 0;
}

.action-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 39px;
	width: 100%;
	font-size: 13px;
	border-top: 1px #deddd7 solid;
}

.action-bar__item {
	padding: 0px 10px 0px 10px;
}

.task-filter__input {
	opacity: 0;
	width: 0;
}

.task-filter__input:checked + .task-filter__name {
	border: 1px solid grey;
	color: grey;
    border-radius: 20px;
    padding: 3px;
}

.task-filter__name:hover {
	background-color: white;
}

.task-completed {
	border: 0;
	background-color: white;
	color: grey;
}